<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add note</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <th:block th:replace="~{fragments/header :: headFragment}">
    </th:block>
</head>
<body>

<th:block th:replace="~{fragments/header :: navPanel}"></th:block>

<div>
<!--    check for empty-->
    <label>Name:
        <input type="text" name="name" placeholder="name">
    </label>
</div>
<div>
    <label>Drugs:
        <input type="text" name="drug" placeholder="drug">
        <button id="add_drug">Add</button>
    </label>
    <div class="hid" style="color: red; display: none;">
        inputs must all be full
    </div>
</div>
<div>

    <label>Symptoms:
        <input type="text" name="symptom" placeholder="symptom">
        <button id="add_symptom">Add</button>
    </label>
    <div class="hid" style="color: red; display: none;">
        inputs must all be full
    </div>
</div>

<div>
    <label>Diseases:
        <input type="text" name="disease" placeholder="disease">
        <button id="add_disease">Add</button>
    </label>
    <div class="hid" style="color: red; display: none;">
        inputs must all be full
    </div>
</div>


<div class="custom-file">
    <label class="custom-file-label">
        <input id="file" type="file" name="file">
    </label>
</div>

<div>
    <label>
            <textarea style="width: 200px; height: 200px"
                      name="comment" placeholder="Write your comment, max 400 symbols"
                      maxlength="400"></textarea>
    </label>
</div>
<div>
    <input type="submit" value="submit">
</div>
<script th:inline="javascript">
    $(document).ready(function () {


        $('body').on("keyup", 'input:text, textarea', function () {
            $('.hid').hide();
        });

        $('#add_drug').click(function () {
            // $('#add_drug').siblings().filter('[name=drug]').last().after('<br><input type="text" name="drug" placeholder="drug">');
            var b = true;
            $('[name=drug]').each(function () {
                if ($(this).val() === "")
                    b = false;
            });
            if (b)
                $('#add_drug').before('<br><input type="text" name="drug" placeholder="drug">');
            else
                $('#add_drug').parent().siblings().filter('div').show();
        });

        $('#add_disease').click(function () {
            var b = true;
            $('[name=disease]').each(function () {
                if ($(this).val() === "")
                    b = false;
            });
            if (b)
                $('#add_disease').before('<br><input type="text" name="disease" placeholder="disease">');
            else
                $('#add_disease').parent().siblings().filter('div').show();
        });

        $('#add_symptom').click(function () {
            var b = true;
            $('[name=symptom]').each(function () {
                if ($(this).val() === "")
                    b = false;
            });
            if (b)
                $('#add_symptom').before('<br><input type="text" name="symptom" placeholder="symptom">');
            else
                $('#add_symptom').parent().siblings().filter('div').show();
        });

        // $("#add_symptom").click();

        $('button:last').click(function () {
            var myarr = ["haha", "hihi", "huhu"];
            var myvar = JSON.stringify(myarr);
            // alert(myvar);
            $.get(window.location.origin + "/rest/test", {
                myname: myvar
            }, function (data) {
                alert(data);
            })
        });

        $('input:submit').click(function () {
            var arrDrug = [];

            $('[name=drug]').each(function () {
                if ($(this).val() !== "")
                    arrDrug.push($(this).val());
            });
            var arrDis = [];

            $('[name=disease]').each(function () {
                if ($(this).val() !== "")
                    arrDis.push($(this).val());
            });
            var arrSymp = [];

            $('[name=symptom]').each(function () {
                if ($(this).val() !== "")
                    arrSymp.push($(this).val());
            });

            var mycsrf = [[${_csrf.token}]];
            //new code

            var data = new FormData();

            data.append('file', $('#file')[0].files[0]);
            data.append( 'drugs_json', JSON.stringify(arrDrug));
            data.append( 'diseases_json', JSON.stringify(arrDis));
            data.append( 'symptoms_json', JSON.stringify(arrSymp));
            data.append( '_csrf', [[${_csrf.token}]]);
            data.append( 'comment', $('[name=comment]').val());
            data.append( 'name', $('[name=name]').val());

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: window.location.origin + "/rest/add_note",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    if (data){
                        window.open(window.location.origin+"/profile_user", "_top")
                    }
                }
            });

            //new code




            // $.post(window.location.origin + "/rest/add_note", {
            //     drugs_json: JSON.stringify(arrDrug),
            //     diseases_json: JSON.stringify(arrDis),
            //     symptoms_json: JSON.stringify(arrSymp),
            //     _csrf: [[${_csrf.token}]],
            //     comment: $('[name=comment]').val(),
            //     name:$('[name=name]').val(),
            //     file:$('input[type=file]')[0].files[0]
            // }, function (data) {
            //     if (data){
            //         window.open(window.location.origin+"/profile_user", "_top")
            //     }
            // })


        })
    })
</script>

<div th:replace="~{fragments/header :: bodyNested}"></div>


</body>
</html>