<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <th:block th:replace="~{fragments/header :: headFragment}">
    </th:block>
    <style>
        table,
        tr,
        td {
            padding: 5px;
            border: 1px solid black;
        }
    </style>

</head>
<body>

<th:block th:replace="~{fragments/header :: navPanel}"></th:block>

<h1>List of users</h1>

<table>
    <tbody>
    <tr th:each="el : ${users}">
        <td><span th:text="${el.getUsername()}">Username there</span></td>
        <td th:each="role : ${el.getRoles()}"><span th:text="${role}">Role there</span></td>
        <td><a th:href="@{/editor_control/{id}(id=${el.getId()})}">edit</a></td>
    </tr>
    </tbody>
</table>

<div th:replace="~{fragments/header :: bodyNested}"></div>


</body>
</html>