<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>

<div>
    <h1 th:text="${note.name}"></h1>
    <div>
        Symptoms:
        <ol>
            <li th:each="smp : ${note.symptoms}" th:text="${smp.name}"></li>
        </ol>
    </div>
    <div>
        Drugs:
        <ol>
            <li th:each="drg : ${note.drugs}" th:text="${drg.name}"></li>
        </ol>
    </div>
    <div>
        Symptoms:
        <ol>
            <li th:each="dis : ${note.diseases}" th:text="${dis.name}"></li>
        </ol>
    </div>
    <div th:text="${note.comment}"></div>
    <div th:if="${note.comments!=null}">
        Comments:
        <div th:each="com : ${note.comments}">
            <p th:text="${com.author.username+': '}"></p>
            <p th:text="${com.text}"></p>
        </div>
    </div>
</div>
<button id="add_comment">add comment</button>
<div id="comment_body" style="display: none">
    <label>Comment:
        <input type="text" name="text" placeholder="comment">
    </label>
    <button id="send_comment">Send</button>
</div>


<script th:inline="javascript">
    $(document).ready(function () {
        var pathArray = window.location.pathname.split("/");
        var pathVariable = pathArray[pathArray.length - 1];

        $('#add_comment').click(function () {
            $('#comment_body').show();
            $(this).hide();
        });

        $('#send_comment').click(function () {
                    if ($('[name=text]').first().val() !== "") {

                        $.post(window.location.origin + "/rest/add_comment", {
                            text: $('[name=text]').first().val(),
                            _csrf: [[${_csrf.token}]],
                            id: pathVariable
                        }, function (data, status) {
                            if (data)
                                document.location.reload();
                            else
                                alert("You are not logged in");
                        })
                    }
            }
        );

        $('[name=text]').keyup(function (event) {
            if (event.keyCode === 13) {
                $("#send_comment").click();
            }
        });
    });
</script>

</body>
</html>