<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<header>
    <h1>Registration: </h1>
</header>

<div class="form-group">
    <label class="col-sm-2 col-form-label">User Name
        <input class="form-control" type="text" name="username" placeholder="Enter your login"/>
    </label>
</div>
<div class="form-group">
    <label class="col-sm-2 col-form-label"> Password:
        <input type="password" name="password" class="form-control" placeholder="Password"/>
    </label>
</div>
<div>
    <input id="submit" type="submit" value="Register" class="btn btn-primary"/>
</div>
<script th:inline="javascript">
    $(document).ready(function () {

        var mycsrf = [[${_csrf.token}]];

        $('#submit').click(function () {
            $.post(window.location.origin.toString() + "/rest/registration", {
                _csrf: mycsrf,
                username: $('input[name="username"]').val().toString(),
                password: $('input[name="password"]').val().toString()
            }, function (data, status) {
                // alert(data);
                if (data===true)
                    window.open(window.location.origin.toString()+"/login", "_top");
                else
                    alert("User with so username already exists.");
            })
        });

    });
</script>

</body>
</html>