<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <th:block th:replace="~{fragments/header :: headFragment}">
    </th:block>
</head>
<body>
<th:block th:replace="~{fragments/header :: navPanel}"></th:block>

<h1>Search page</h1>

<form th:action="@{/shared/filter}"
        method="get">
    <label>Enter diseases to filter:
        <input type="text" name="filter">
    </label>
        <input type="submit" value="Search">
</form>

<h3>Notes: </h3>

<ol th:if="${notes!=null}">
    <li th:each="el : ${notes}">
        <span th:text="${el.key.name} + '('+${el.value}+')'+ '  '"></span>
        <a th:href="@{/shared/note_page/{id}(id=${el.key.id})}"> link to this note </a>
        <div th:each="dis : ${el.key.diseases}" th:text="${dis.name}"></div>
    </li>
</ol>

<div th:replace="~{fragments/header :: bodyNested}"></div>


</body>
</html>